<link rel="stylesheet" href="/css/storystyle2.css">

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3" id="bsolid">
				<div class="card border-dark mb-3" style="width: 10rem;" id="playercard">
					<img class="card-img-top avatar" src={{avatar}} alt="Card image cap">
				</div>
				<h1 class="storyh1">
					{{character}}
				</h1>
				<button type="button" class="btn btn-danger" id="health">
					Health
					<span class="badge badge-light">{{health}}</span>
				</button>
				<button type="button" class="btn btn-primary" id="money">
					Money
					<span class="badge badge-light">{{money}}</span>
				</button>
				<div class="card border-dark mb-3" style="width: 10rem;" id="playercard">
					<img class="card-img-top" src={{ship}} alt="Card image cap">
				</div>
				<button type="button" class="btn btn-primary" id="money">
					Fuel
					<span class="badge badge-light">{{fuel}}</span>
				</button>
			</div>
			<div class="col-sm-9 mx-auto text-center">
				<img class="card-img-top" src="./images/source.gif" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">"Here I want to implement a version of asteroids similar to this."</p>
					<a class="placeholder4" href="http://www.dougmcinnes.com/2010/05/12/html-5-asteroids/">
						<div class="textwrap">http://www.dougmcinnes.com/2010/05/12/html-5-asteroids/</div>
					</a>
				</div>
				<button type="button" data-stage=4 class="gameChoice btn btn-outline-light ">Play Again!</button>
			</div>
		</div>
	</div>
</body>