<link rel="stylesheet" href="/css/storystyle2.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
 crossorigin="anonymous">


<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3" id="bsolid">
				<div class="card border-dark mb-3" style="width: 12rem;" id="playercard">
					<img class="card-img-top avatar" src={{avatar}} alt="Card image cap">
				</div>

				<h1 class="storyh1">

					{{character}}

				</h1>

				<button type="button" class="btn btn-danger" id="health">
					<i class="fas fa-heart"></i> Health
					<span class="badge badge-light">{{health}}</span>
					<!-- <span class="sr-only">unread messages</span> -->
				</button>

				<button type="button" class="btn btn-primary" id="money">
					<i class="fas fa-user-astronaut"></i> Sanity
					<span class="badge badge-light">{{sanity}}</span>
					<!-- <span class="sr-only">unread messages</span> -->
				</button>

				<div class="card border-dark mb-3" style="width: 10rem;" id="playercard">
					<img class="card-img-top" src={{ship}} alt="Card image cap">
				</div>

				<button type="button" class="btn btn-warning" id="shields">
					<i class="fas fa-shield-alt"></i> Shields
					<span class="badge badge-light">
						{{shields}}</span>
					<!-- <span class="sr-only">unread messages</span> -->
				</button>
			</div>
			<div class="col-sm-9 mx-auto text-center">
				<div class="span12">
					<form class="form-horizontal span6">
						<fieldset>
							<legend>Payment</legend>

							<div class="control-group">
								<label class="control-label">Card Holder's Name</label>
								<div class="controls">
									<input type="text" class="input-block-level" pattern="\w+ \w+.*" title="Fill your first and last name" required>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Card Number</label>
								<div class="controls">
									<div class="row-fluid">
										<div class="span3">
											<input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required>
										</div>
										<div class="span3">
											<input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required>
										</div>
										<div class="span3">
											<input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required>
										</div>
										<div class="span3">
											<input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required>
										</div>
									</div>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Card Expiry Date</label>
								<div class="controls">
									<div class="row-fluid">
										<div class="span9">
											<select class="input-block-level">
												<option>January</option>
												<option>...</option>
												<option>December</option>
											</select>
										</div>
										<div class="span3">
											<select class="input-block-level">
												<option>2018</option>
												<option>2019</option>
												<option>2020</option>
												<option>2021</option>

											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Card CVV</label>
								<div class="controls">
									<div class="row-fluid">
										<div class="span3">
											<input type="text" class="input-block-level" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required>
										</div>
										<div class="span8">
											<!-- screenshot may be here -->
										</div>
									</div>
								</div>
							</div>

							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="button" class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>

				</div>
				<button type="button" class="restart gameChoice btn btn-outline-light ">Second Thoughts? Play Again</button>

			</div>
		</div>
	</div>
	</div>
	</div>


</body>